services:
  mysql:
    image: mysql
    ports:
      - 23306:3306
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_ROOT_PASSWORD=root12345

  phpmyadmin:
    image: phpmyadmin
    ports:
      - 8100:80
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mysql
